#external {
	color: yellow;
	font-family: monospace;
}

* {
	font-family: sans-serif;
	font-size: 20px;
}

h1 {
	font-size: 30px;
}

#h2 {
	text-transform: uppercase;
}

.lang {
	background-color: seagreen;
}

[lang="en-US"] {
	border-style: solid;
	border-block-color: blue;
}

img + ul {
	list-style: none;
}

section img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

section > ul > li {
	letter-spacing: 5px;
}

